{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin: 10px 30px">
    <h2>List of programmes</h2>

    {% for message in app.flashes('createSucces') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('deleteSucces') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Programme Name</th>
                <th>Room</th>
                <th>Max Participants</th>
                <th>Start Date/time</th>
                <th>End Date/time</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for programme in programmes %}
            <tr>
                <td>{{ programme.id }}</td>
                <td>
                    <a href="{{ path("programme.show", {id: programme.id}) }}">{{ programme.name }}</a>
                </td>
                <td>
                    {{ programme.room }}
                </td>
                <td>
                    {{ programme.maxParticipants }}
                </td>
                <td>
                    {{ programme.startProgramme|date("m/d/Y H:i:s") }}
                </td>
                <td>
                    {{ programme.endProgramme|date("m/d/Y H:i:s") }}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="text-danger" href="{{ path("programme.delete", {id: programme.id}) }}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a style="color: black; border: 1px solid black; padding:3px; background-color: #ADD8E6;" href="{{ path("programme.create") }}">Add programme</a>
        </div>
    {% endif %}
    
        
    </div>    

{% endblock %}
